{% for n in node.links %}
    <line
            id="{{ node.point.x }}_{{ node.point.y }}_{{ n.point.x }}_{{ n.point.y }}"
            stroke-width="1"
            stroke="{{ 'black' if node.is_shortest_path else 'gray' }}"
            x1="{{ node.point.x*50 }}"
            y1="{{ node.point.y*50 }}"
            x2="{{ n.point.x*50 }}"
            y2="{{ n.point.y*50 }}"
            marker-end="url(#triangle)"
    ></line>
    {% if n not in seen_nodes %}
        {% with %}
            {% set node = n %}
            {% set _ = seen_nodes.append(n) %}
            {% include 'path.html' %}
        {% endwith %}
    {% endif %}
{% endfor %}